       /*Keyframes queries*/
       @keyframes bounceIn {
        0% {
            transform: scale(0.1);
            opacity: 0;
        }

        60% {
            transform: scale(1.2);
            opacity: 1;
        }

        100% {
            transform: scale(1);
        }
    }

    @keyframes pulse {
        0% {
            color: var(--head-anim-color);
            transform: scale(1);
        }

        25% {
            color: darken(var(--head-anim-color), 10%);
            transform: scale(1.015);
        }

        50% {
            color: var(--head-anim-color);
            transform: scale(1);
        }
    }

    @keyframes removed-item-animation {
        0% {
            opacity: 1;
            transform: translateX(0)
        }

        30% {
            opacity: 1;
            transform: translateX(50px)
        }

        80% {
            opacity: 1;
            transform: translateX(-800px)
        }

        100% {
            opacity: 0;
            transform: translateX(-800px)
        }
    }

    /*media queries*/
    @media screen {
        body {
            padding-top: 2em;
            display: grid;
            grid-template-columns: 1fr 50vw 1fr;
            grid-template-rows: 0.5fr 3fr 1fr;
        }
    }

    @media screen and (min-width: 320px) and (max-width: 480px) {
        #todo-label {
            height: var(--root-font-size, 1rem);
            font-size: medium;
            width: 30%;
        }
    }

    @media screen and (min-width: 481px) and (max-width: 2000px) {
        #todo-prompt:before {
            content: "Add a To-Do";
            font-size: var(--root-font-size, 3rem) * 3;
        }
    }

    @media screen and (min-width: 320px) and (max-width: 480px) {
        #todo-prompt:before {
            content: "To Do";
            font-size: var(--root-font-size, 1rem);
        }
    }